<div class="image-container">

  <div id="background-frisbee">
    <div align="center">
    <a href="/users/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up</a>
    </div>
  </div>

</div>
