// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container {
  height: 800px;
}

#background-frisbee {
  height: 100%;
  width: 100%;
  /*background-color: green;*/
  background-image: url("frisbee.jpg");
  background-repeat: no-repeat;
}
